-e nemo-gym[dev] @ ../../
ray[default]==2.52.1
backoff
loguru
httpx
gymnasium
Pillow
requests
requests-toolbelt
numpy==1.26.4
protobuf==6.32.0
tifffile<2026.0
pandas
lxml
beautifulsoup4
pymupdf
borb
ImageHash
opencv-python-headless
cssselect
xmltodict
openpyxl
pdfplumber
python-docx
python-pptx
easyocr
pyclipper
python-bidi
shapely
rapidfuzz
scikit-image
scipy
pypdf
PyPDF2
pyacoustid
fastdtw
librosa
mutagen
odfpy
PyYAML
formulas
tldextract
playwright
pydrive
cryptography
cffi
python-dotenv
filelock
psutil
tqdm
docker
boto3
ngcsdk
prettytable
